/* Importación del motor de Tailwind v4 */
@import "tailwindcss";

/* Opcional: Configuramos nuestro fondo oscuro global al estilo IDE */
@layer base {
  body {
    background-color: #0d1117;
    color: #c9d1d9;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita scrollbars innecesarias en la app de video */
  }
}
